#history .history__player
	position fixed
	bottom 0
	left 0
	width 100%
	.player__control
		display flex
		flex-direction row
		align-items center
		justify-content space-between
		color $tertiary
		padding 0 1rem
		margin 0.5rem auto
		max-width 40rem

	p
		margin 0
	
	p.control__queue
		font-weight 700
		text-align center
		set-type-size(root, false)
		width 3.75rem
		line-height 1
		+mq('bp-4')
			set-type-size(large, false)
			width 5.5rem
		
	button
		background-color $tertiary
		line-height 1
		border-radius 50%
		padding 0.5em
		box-shadow 3px 3px 6px rgba($off-black, 0.25)
		border 2px solid $white
		transition background-color 100ms ease-in-out
		+mq('bp-4')
			padding 1em
		&:hover
			background-color $secondary
		&:active
			box-shadow 3px 3px 6px rgba($primary, 0)
			transform translate(1.5px, 1.5px)
		
		span
			display none
			&.is-visible
				display block

		svg
			width 1rem
			height 1rem
			+mq('bp-4')
				width 1.75rem
				height 1.75rem
			path, line
				stroke $white
				fill none
			polygon, rect
				stroke none
				fill $white
		
	
	.player__progress
		width 100%
		background-image linear-gradient(to right, $yellow, $pink 82.5%)
		position relative
		height 0.5rem

		.progress__bar
			position absolute
			top 0
			right 0
			height 100%
			width 100%
			background-color $bg
			transition width 267ms linear