#history .history__rating
	position fixed
	right 1rem
	top 4.5rem
	z-index set-index(top)
	display flex
	align-items center
	.rating__buttons
		display flex
		flex-direction column
		justify-content flex-end
		flex-wrap wrap
	button
		position relative
		set-type-size(xx-large, false)
		padding 0.15em 0
		line-height 1
		background transparent 
		transition transform 150ms ease-in-out
		text-shadow 3px 3px 6px rgba($off-black 0.25)
		&:disabled
			cursor not-allowed
			filter grayscale(100%)
			opacity 0.75
			span
				display block
		&.is-selected:disabled
			filter grayscale(33%)
		&:hover
			+mq('bp-4')
				transform scale(1.5)
	
	span
		display block
		position absolute
		right 100%
		margin-right 0.25em
		top 0
		line-height 1
		set-type-size(medium, false)
		color $fg
		top 50%
		transform translateY(-50%)
		text-shadow none
		display none

	.rating__tip
		margin 0
		padding 0 1rem
		font-weight 600
		animation pulse 4s infinite
		opacity 1
		pointer-events none
		display none
		+mq('bp-5')
			display block
		&.is-hidden
			opacity 0
		// set-type-size(large)

@keyframes pulse
	0%
		transform rotate(0)
	40%
		transform rotate(0)
	45%
		transform rotate(15deg)
	55%
		transform rotate(-15deg)
	60%
		transform rotate(0)
	100%
		transform rotate(0)