#history
	.history__title
		position absolute
		top 2rem
		left 0
		set-type-size(small, false)
		width 100%
		text-align center
		+mq('bp-5')
			set-type-size(root, false)
	.tweet
		position absolute
		right 1rem
		bottom 0.75rem
		border none
		display none
		+mq('bp-5')
			display block
		svg
			stroke none
			fill $white
			width 2rem
			height 2rem	