#history .history__rating
	position fixed
	right 1rem
	top 4.5rem
	display flex
	flex-direction column
	justify-content flex-end
	flex-wrap wrap
	z-index set-index(top)
	button
		set-type-size(xx-large, false)
		padding 0.15em 0
		line-height 1
		background transparent 
		transition transform 150ms ease-in-out
		text-shadow 3px 3px 6px rgba($off-black 0.25)
		&:disabled
			cursor not-allowed
			filter grayscale(100%)
			opacity 0.75
		&.is-selected:disabled
			filter grayscale(33%)
		&:hover
			+mq('bp-4')
				transform scale(1.5)