#history
	.figure__boys
		display flex
		flex-wrap wrap
	.boy
		width 12rem
		opacity 0
		display none
		&.is-visible
			opacity 1
			display block

	.history__player
		margin-top 2rem
		.player__controls
			display flex
			flex-direction row
			align-items center
