#history .history__figure
	overflow hidden
	position relative
	max-width 70rem
	margin 0 auto

	.figure__boys
		display flex
		flex-wrap wrap
		justify-content center
		position absolute
		left 0
		top $info-h-mobile
		width 100%
		transition left 1s linear
		+mq('bp-5')
			top $info-h-desktop
	
	.boy
		visibility hidden
		display flex
		flex-direction column
		align-items flex-start
		&:nth-of-type(n+5)
			@media only screen and (max-width: 799px)
				transform translateY(-82.5%)
			@media only screen and (max-width: 599px)
				transform translateY(-75%)
			@media only screen and (max-width: 399px)
				transform translateY(-50%)	
			
		&.is-visible
			visibility visible
		&__name
			order 1
			margin 0
			width 100%
			text-align center
			set-type-size(small, false)
			line-height 1
			padding 0 0.5rem
			height 3rem
			min-height 3rem
			max-height 3rem
			font-weight 500
		svg
			display block
			order 0
			// flex 1 0 auto

	.figure__info
		position absolute
		top 0
		left 4rem
		height $info-h-mobile
		// width 100%
		+mq('bp-5')
			height $info-h-desktop
	
	.info__year
		position absolute
		top 0
		left 0
		margin 0
		line-height 1
		font-weight 800
		font-size 8rem
		color $white
		opacity 0.5
		+mq('bp-5')
			font-size 12rem

	.info__band
		position relative
		font-size 2.25rem
		margin 0
		line-height 1
		margin-top 1.75rem
		font-weight 800
		text-shadow 0 0 3px $white
		a
			display block
			position absolute
			top 0
			left 0
			transform translate(-150%, 12.5%)
			text-decoration none
			border none
			line-height 1
			&:hover
				svg
					stroke-opacity 1
				polygon
					fill-opacity 1
		svg
			width 2rem
			height 2rem
			stroke $white
			stroke-opacity 0.5
			polygon 
				fill $white
				fill-opacity 0.5
				stroke none
	
	.info__song
		position relative
		font-size 1.75rem
		margin 0
		line-height 1
		font-weight 500
		text-shadow 0 0 3px $white

	