#history .history__figure
	position relative
	height $info-h-mobile + $boys-h-mobile
	+mq('bp-5')
		height $info-h-desktop + $boys-h-desktop
	
	.figure__boys
		display flex
		flex-wrap wrap
		justify-content space-around
		position absolute
		left 0
		top $info-h-mobile
		width 100%
		height $boys-h-mobile
		+mq('bp-5')
			top $info-h-desktop
			height $boys-h-desktop
	
	.boy
		visibility hidden
		display flex
		flex-direction column
		align-items flex-start
		&.is-visible
			visibility visible
		&__name
			order 1
			margin 0
			width 100%
			text-align center
			flex 1 0 auto
			set-type-size(root, false)
			line-height 1
			padding 0 0.5rem
		svg
			display block
			order 0
			flex 1 0 auto
			

	.figure__info
		position absolute
		top 0
		left 1rem
		height $info-h-mobile
		// width 100%
		+mq('bp-5')
			height $info-h-desktop
	
	.info__year
		position absolute
		top 0
		left 0
		margin 0
		line-height 1
		font-weight 800
		font-size 8rem
		+mq('bp-5')
			font-size 12rem
			color $white
			opacity 0.5

	.info__band
		position relative
		font-size 2.25rem
		margin 0
		line-height 1
		margin-top 1.75rem
		font-weight 800
		text-shadow 0 0 3px $white
	
	.info__song
		position relative
		font-size 1.75rem
		margin 0
		line-height 1
		font-weight 500
		text-shadow 0 0 3px $white