.intro
	margin 0 auto
	padding 2.75rem 1rem 0 1rem
	&.is-hidden
		display none
	
	&__title
		text-align center
		svg
			width 100%

	&__hed
		max-width 35rem
		margin 0 auto
		font-weight 800
		text-align center
		text-transform uppercase
		set-type-size('xxx-large', true)
		+mq('bp-3')
			set-type-size('xxxx-large', true)
		+mq('bp-5')
			font-size 96px
			line-height 1
		span
			display inline-block
			background-image linear-gradient(to top, $yellow, $pink 67%)
			color transparent
			background-clip text
	
	&__prelude
		max-width 17rem
		margin 1rem auto
		text-align center
		font-size 16px
		line-height 1.4
		+mq('bp-3')
			font-size 18px
			max-width 19rem
		

	&__note
		position absolute
		bottom 0
		left 0
		text-align center
		width 100%
		margin 1rem auto
		text-align center
		set-type-size('small', false)
		line-height 1.4
		padding 0 1rem
		+mq('bp-3')
			set-type-size('root', false)
	
	&__byline
		max-width $column-width
		set-type-size('small', true)
		font-weight 700
		position absolute
		top 3.5rem
		left 1rem
		z-index set-index(top)
		margin 0
		display none
		+mq('bp-5')
			display block
		
	&__dek
		max-width $column-width
		margin 0 auto
		padding-top 0rem
		text-align center
		set-type-size('large', true)
		display none
		+mq('bp-3')
			display block

	&__choice
		max-width 20rem
		margin 2rem auto
		display flex
		flex-direction column
		text-align center
		button
			display none
			background-color $tertiary
			border 2px solid $white
			color $white
			box-shadow 3px 3px 6px rgba(0,0,0,0.25)
			text-align center
			align-items center
			border-radius 10px
			padding 0.75rem
			transition background-color 100ms ease-in-out
			set-type-size(medium, false)
			+mq('bp-3')
				set-type-size(large, false)
			line-height 1
			margin 0 auto
			&.is-visible
				display flex
			&:hover
				background-color $pink
		svg
			width 1.25em
			height 1.25em
			margin-left 0.5em
			display inline
			vertical-align middle
			// transform translateY(-12.5%)
		.choice__wall
			text-align right
		
		.choice__loading
			margin 0
			text-align center
			text-transform uppercase
			letter-spacing 0.05em
			font-weight 700
			color $tertiary
			&.is-hidden
				display none
			+mq('bp-5')
				set-type-size(large, false)
