/* CUSTOM STORY STYLE */
*
	font-weight 500

main
	// height 100vh	

body
	background linear-gradient(135deg, rgba($fg, 0.03) 25%, transparent 25%) -50px 0, linear-gradient(225deg, rgba($fg, 0.03) 25%, transparent 25%) -50px 0, linear-gradient(315deg, rgba($fg, 0.03) 25%, transparent 25%), linear-gradient(45deg, rgba($fg, 0.03) 25%, transparent 25%)
	background-size 100px 100px
	background-color $bg
	overflow hidden
	font-weight 500

section
	display none
	padding-top 4rem
	&.is-selected
		display block

button
	font-family $sans