#wall .wall__figure
	display flex
	flex-wrap wrap
	
	.figure__boys
		// display flex
		// flex-wrap wrap
		// justify-content space-around
		// position absolute
		// left 0
		// top $info-h-mobile
		// width 100%
		// height $boys-h-mobile
		// +mq('bp-5')
		// 	top $info-h-desktop
		// 	height $boys-h-desktop
	
	// .band
	// 	display flex

	.band__boys
		display flex
		.boy
			width 6rem
			display flex
			flex-direction column
			align-items flex-start
		.boy__name
			order 1
			margin 0
		svg
			order 0
			// display block
			// flex 1 0 auto
			

	// .figure__info
		
	// .info__year
		

	// .info__band
		
	
	// .info__song
		