<section id='history'>
	<div class='history__rating'>

	</div>
	<figure class='history__figure'>
		<div class='figure__info'>
			<div class='info__year'>year</div>
			<div class='info__band'>band</div>
			<div class='info__song'>song</div>
		</div>
		<div class='figure__boys'>

		</div>
	</figure>
	<div class='history__player'>
		<div class='player__control'>
			<p class='control__queue'>
				<span class='queue__current'>1</span> of <span class='queue__total'>55</span>
			</p>
			<div class='control__back'>@@include('skip-back.svg')</div>
			<div class='control__toggle'><span class='toggle--play is-visible'>@@include('play.svg')</span><span class='toggle--pause'>@@include('pause.svg')</span></div>
			<div class='control__forward'>@@include('skip-forward.svg')</div>
			<div class='control__volume'><span class='volume--on is-visible'>@@include('volume-2.svg')</span><span class='volume--off'>@@include('volume-x.svg')</span></div>
		</div>
		<div class='player__progress'>
			<div class='progress__bar'></div>
		</div>
	</div>
</section>
