<section id='history'>
	<div class='history__rating'>
	
	</div>
	<figure class='history__figure'>
		<div class='figure__info'>

		</div>
		<div class='figure__boys'>
			
		</div>
	</figure>
	<div class='history__player'>

	</div>
</section>