<section id='history'>
	<div class='history__rating'>

	</div>
	<figure class='history__figure'>
		<div class='figure__info'>
			<div class='info__year'>year</div>
			<div class='info__band'>band</div>
			<div class='info__song'>song</div>
		</div>
		<div class='figure__boys'>

		</div>
	</figure>
	<div class='history__player'>
		<div class='player__controls'>
			<p class='player__queue'>
				<span class='player__current'></span>
				of
				<span class='player__total'></span>
			</p>
			<div class='player__back'>@@include('skip-back.svg')</div>
			<div class='player__play'>@@include('play.svg')</div>
			<div class='player__forward'>@@include('skip-forward.svg')</div>
			<div class='player__volume'>@@include('volume.svg')</div>
		</div>
	</div>
</section>
