<section id='history'>
	<div class='history__rating'>

	</div>
	<figure class='history__figure'>
		<div class='figure__info'>
			<div class='figure__info--year'>year</div>
			<div class='figure__info--band'>band</div>
			<div class='figure__info--song'>song</div>
		</div>
		<div class='figure__boys'>

		</div>
	</figure>
	<div class='history__player'>

	</div>
</section>
